.Rproj.user
.Rhistory
.RData
.Ruserdata

library(splitstackshape)
Axial_Biotrap_OTU_data = read.csv("../Data/Organized-Data/Axial-Biotrap-OTU-data.csv")

Axial_dataframe = data.frame(Axial_Biotrap_OTU_data)
Axial_dataframe2 <- select(Axial_dataframe, -1)

Axial_OTU_counts = Axial_dataframe [c(5:16)]
Axial_OTU_counts

Loihi_Biotrap_OTU_data = read.csv("../Data/Organized-Data/Loihi-Biotrap-OTU-data.csv")

Loihi_OTU_counts = Axial_dataframe [c(5:16)]
Loihi_OTU_counts

Characteristics = read.csv("../Data/Organized-Data/BioTrapCharacteristics.csv")
Characteristics
library(vegan)
library(nlme)

Axial_character = subset(Characteristics, Characteristics$seamount == 'Axial')
Loihi_character = subset(Characteristics,Characteristics$seamount == 'Loihi' )

#plot(Axial_Biotrap_OTU_data)
library(vegan)
Axial_mds = metaMDS(Axial_OTU_counts[rowSums(Axial_OTU_counts) > 0, ])#need to filter out all those 0s...
plot(Axial_mds)

sapply(Axial_OTU_counts,function(x){})

good_samples <- rownames(Axial_OTU_counts[(rowSums(decostand(Axial_OTU_counts,"pa")) >= 1)]) 
otus = Axial_OTU_counts[,good_samples]

LoihiTaxSplit=cSplit(LoihiTrapsOTUabs, "Taxonomy", ";")

names(TaxSplit)[34]="Kingdom"

names(TaxSplit)[35]="Phylum"

names(TaxSplit)[36]="Class"

names(TaxSplit)[37]="Order"

names(TaxSplit)[38]="Family"

names(TaxSplit)[39]="Genus"

Biotrap_Characteristics_full = read.csv("../Data/Organized-data/BioTrapCharacteristics.csv")

#remove unnecessary variables that have too many NA values
library(dplyr)
Biotrap_env_Characteristics = select(Biotrap_Characteristics_full, -Temperature,-H2S,-pH,-Fe.II.)

Biotrap_env_Characteristics
#we can also get a little better view of which classes are where by using "ordilabel" to prioritize
plot(classNMDS, type = "n")
ordilabel(classNMDS, dis="sp", font=2, priority=rowSums(ClassMelt_wide_df))
orditorp(classNMDS,display="sites",cex=1.25,air=0.9)